body{
    font-family: 'Merriweather Sans', sans-serif;
}
.font-color{
    font-size: 20px;
    color: white;
    font-weight: 700px;
    padding: 10px 15px;
    }
.background{
    background-image: url(images/donation13.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 200px;
    font-size: medium;
    

}
h1{
    font-size: 40px;
}
.donate-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 40px;
    color: rgb(249, 244, 244);
    font-weight: 700;
    border-radius: 5px;
}
.part-two{
    text-align: center;
    padding-top: 120px;
}
.half-width{
    background-color: rgb(252, 251, 251);
  width: 50px;
  border: 15px solid none;
  padding: 50px;
  margin: 20px;
  
  
}
.badal{
    display: flex;
    padding-left: 300px; 
}
#specipic{
    background-color: pink;
    border: 5px solid rgb(245, 98, 98);
}
.underline{
    text-decoration: underline;
}
.third-part{
    background-color: rgb(252, 251, 251);
  width: 500px;
  border: 0px solid rgb(186, 146, 146);
  padding-top: 700px; 
  padding-left: 20px;
  padding-bottom: 100px;
  margin: 60px;
  height: 100px;
  padding-top: 100px;
  text-align: left;

  
}
.fayjul{
    display: flex;
    padding-top: 5px;
    
}
.third-section{
    text-align: center;
    padding-top: 20px;
}
#div-one{
    background-color: rgb(196, 207, 211);
    padding-left: 5px;
    text-align: left;
    
}
#div-two{
    background-color: rgb(212, 196, 199);

}
#div-three{
    background-color: rgb(189, 189, 157);

}
